@font-face {
  font-family: "Comic Neue", serif;
  src: url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: comic Neue;
}

h1 {
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://i.pinimg.com/736x/1a/85/42/1a8542a91efa897d9e2a5fd8774d33e2.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}
